nav a {
    font-family: Verdana;
    text-decoration: none;
    color:black;
    line-height: 1.5;
    margin-left: 300px;
}

.banner {
    display:flex;
}


#logo {
    size: 20px;
}

.reservation {
    margin-top:50px;
    background-repeat:no-repeat;
    border-top: 10px solid #36C4B3;
    display:flex;
    background-color: rgba(54, 196, 180, 0.25);
}

.formulaire {
    padding:100px;
    display:flex;
    justify-content:space-between;
    font-family: Verdana
}

input {
    border:none;
}

#rechercher {
    border-radius: 5%;
    background-color:#36C4B3;
    padding:10px;
    color:white;
    align-items: center;
    font-family: Verdana;
}

#offre {
    display:flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top:50px;
    font-family: Verdana
}

#offre1 {
    background-color:rgba(54, 196, 180, 0.25) ;
}

#offre2 {
    background-color:rgba(54, 196, 180, 0.25) ;
}

#offre3 {
    background-color:rgba(54, 196, 180, 0.25) ;
}


.offres {
    display:flex;
    justify-content: space-around;
    padding-top:10px;
    font-family: Verdana;
    font-display: center;
}

.gammes {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top:100px;
    font-size:30px;
    font-family: Verdana;
}

.vehicules {
    display:flex;
    justify-content:center;
    font-family: Verdana;
    padding-bottom:30px;
    padding-top: 30px;
}

.contact {
    background-color: rgba(54, 196, 180, 0.25);
    display:flex;
    flex-direction:column;
    border-bottom:10px solid #36C4B3;
    padding-bottom: 20px;
    font-family: Verdana;
    align-items:center;
}

#envoyer {
    padding-top:20px;
    border-radius: 5%;
    background-color:#36C4B3;
    padding:10px;
    color:white;
    align-items: center;
    font-family: Verdana;
}

#contact {
    align-self:center;
}

#envoyer {
    align-self:center;
}

footer {
    display:flex;
    justify-content:space-around;
    font-family: Verdana;
}

li{
    display:inline-block;
    color:gray;
    font-size:10px;
}